<html>

<head>
    <title>Partners</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="icon" href="css/favicon.ico" type="image/x-icon" />
    <script src="https://use.fontawesome.com/3a210fbd92.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lobster|Montserrat:900|Raleway" rel="stylesheet">
    <style>
        .glyphicon-thumbs-up {
            cursor: pointer
        }
    </style>
</head>

<body ng-app="partners" ng-controller="MainCtrl">

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
        <ul class="nav navbar-nav">
            <li><a href="/#/home">Partners</a></li>
            <li><a href="addIdea">Add Idea</a></li>
            <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
        </ul>
    </nav>

    <!-- ui-view -->

    <ui-view class="row"></ui-view>

    <!-- home page script-->
    <script type="text/ng-template" id="/home.html">
        <!-- Partners Banner -->
        <div class="bg">
            <div class="textbox">
                <h1 class="welcometext">Welcome to Partners</h1>
                <h2 class="welcometext2">Where Teamwork Makes the Dream Work</h2>
            </div>
        </div>

        <div class="container-fluid">


            <div class="row">
                <div class="col-md-6 col-md-offset-3">


                    <h2>Popular Ideas Snapshots</h2>
                        <hr>
                    <span class="search"><i class="fa fa-search" aria-hidden="true"></i> <input placeholder="Search" ng-model="ideasSearch" />
                    </span>




                    <!-- ideas index -->

                    <div ng-repeat="idea in ideas | orderBy:'-upvotes' | filter: ideasSearch">
                      <div class="clothespin">
                      </div>
                      <div class="itemsIndex">
                            <span ng-show="idea.author">posted by <a>{{idea.author}}</a>
                            </span>
                            <img src="{{idea.image_url}}">
                            <div class="caption">
                                <h4 class="ideasHeading"><a class="ideaTitle" href="#/ideas/{{idea._id}}">{{idea.title}}</a></h4>
                                <hr>
                                <p>{{idea.description}}</p>
                                <h5> Votes: {{idea.upvotes}}  <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(idea)"></span></h5>
                                <hr>
                                <a class="deleteButton" href="#/ideas"><button class="btn my-btn" ng-click="deleteIdea(idea)" type="submit">Found a Partner!</button></a>
                            </div>
                          </div>
                    </div>

                    <!-- Add new idea -->
                    <div id="addIdea">
                    <form class="forms" ng-submit="addIdea()" ng-show="isLoggedIn()" style="margin-top:30px;">
                                <h3 class="formHeading">Add Your Idea</h3>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Image Url" ng-model="image_url"></input>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Explain your idea!" ng-model="description"></input>
                                </div>
                                <button type="submit" class="btn my-btn">Add Idea</button>
                    </form>

                    <div ng-hide="isLoggedIn()">
                        <h3>You need to <a class="alinks" href="/#/login">Log In</a> or <a class="alinks" href="/#/register">Register</a> before you can add an idea.</h3>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <!-- ideas show page with comments -->
  <script type="text/ng-template" id="/ideas.html">

    <div class="col-md-6 col-md-offset-3">
        <!-- Back link -->
            <div class="backDiv">
              <a class="backLink" href="#/ideas">Back</a>
            </div>
            <h1 class="ideasHeading">{{idea.title}}</h1>
            <img src="{{idea.image_url}}">
            <hr/>
            <h4>Description:</h4>
            <p> {{idea.description}}</p>
            <hr/>
            <div class="commentSection">
                <h3 class="ideasHeading">Comments</h3>
                <hr/>
                <div ng-repeat="comment in idea.comments">
                  <div class="commentAuthor">
                    <h4>  {{comment.author}} said</h4>
                  </div>
                  <div class="commentBody">
                    <p>  {{comment.body}}</p>
                  </div>
                  <hr/>
               </div>
           </div>
          <!-- add comments -->
          <form class="forms"ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
            <h3 class="formHeading">Add a new comment</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Comment" ng-model="body"/>
            </div>
            <button type="submit" class="btn my-btn">Post</button>
          </form>
    </div>
    <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
    </div>
  </script>


    <!-- registration page -->
    <script type="text/ng-template" id="/register.html">
        <div class="col-md-6 col-md-offset-3">


            <div ng-show="error" class="alert alert-danger row">
                <span>{{ error.message }}</span>
            </div>

            <form class="loginAndReg" ng-submit="register()" style="margin-top:30px;">
                <h3>Register</h3>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
                </div>
                <button type="submit" class="btn my-btn">Register</button>
            </form>
        </div>
    </script>


    <!-- login page -->
    <script type="text/ng-template" id="/login.html">
        <div class="col-md-6 col-md-offset-3">

            <div ng-show="error" class="alert alert-danger row">
                <span>{{ error.message }}</span>
            </div>

            <form class="loginAndReg" ng-submit="logIn()" style="margin-top:30px;">
                <h3>Log In</h3>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
                </div>
                <button type="submit" class="btn my-btn">Log In</button>
            </form>
        </div>
    </script>

    <footer>
      <p id="footerText"> Created by Dan Lin </p>
    </footer>


</body>

</html>
